/** 
 * @author: Alexander Chi
 * @description:
 * @date: 01/Septiembre/2021
**/ 
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/** Primary **/
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

/** Neutral **/
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$borderRaius: 10px;

* {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.container::before {
  position: absolute;
  left: 0;
  top: 0;
  content: url('./assets/svgs/bg-pattern-top-desktop.svg');
}

.container::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: url('./assets/svgs/bg-pattern-bottom-desktop.svg');
}

.content {
  width:  900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent; 
}

.row {
  width: 100%;
  display: flex;
}

.row>div.head,
.row>div.stars {
  width: 50%;
}

.row> div.stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.start__0,
.start__1,
.start__2,
.start__3,
.start__4,
.start__5 {
  content: url('./assets/svgs/icon-star.svg');
  padding-right: 10px;
}

.start__-1,
.start__-2,
.start__-3,
.start__-4,
.start__-5 {
  content: url('./assets/svgs/icon-star.svg');
  opacity: 0.5;
  padding-right: 10px;
}

.stars__container {
  width: 400px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: $borderRaius;
  background-color: $lightGrayishMagenta;
}

.top {
  margin-right: 50px;
}

.center {
  margin-right: 25px;
}

.stars__text {
  font-weight: bold;
  color: $veryDarkMagenta;
} 

h3.title { 
  font-size: 3.5em;
  width: 450px;
  margin-top: -30px;
  font-weight: bold;
  color: $veryDarkMagenta;
}

p.description {  
  width: 400px; 
  color: $veryDarkMagenta;
  margin-top: 30px;
  opacity: 0.8;
}

.one {
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

/** CARDs **/
.card { 
  display: flex;
  flex-direction: column; 
  width: 33.33%;
}

.card__container {
  background-color: $veryDarkMagenta; 
  padding: 25px;
  border-radius: $borderRaius;
}

.middle {
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.right {
  margin-top: 120px;
}

.card__head {
  display: flex; 
  align-items: center;
}

.card__head> img {
  width: 45px;
  height: 45px;;
  border-radius: 50px;
}

.card__content {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
} 

.card__name,
.card__text,
.card__description {
  color: $white;
}

.card__description {
  margin-top: 25px;
  line-height: 30px; 
}

.card__name {
  font-weight: bold;
}

.card__text {
  color: $softPink;
  opacity: 0.8;
}

/** Mobile **/
@media (min-width: 320px) and (max-width: 992px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .container::before { 
    content: url('./assets/svgs/bg-pattern-top-mobile.svg');
  }
  
  .container::after { 
    content: url('./assets/svgs/bg-pattern-bottom-mobile.svg');
  }

  .stars__container,
  .top, .middle, .right {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .row > div.head, 
  .row > div.stars,
  .content,
  .card,
  .stars__container  {
    width: 100%;  
    display: flex;
    justify-content: center;
  } 

  .row { 
    width: 100%;
    flex-direction: column;
  }

  .one {
    margin: 0;
    margin-bottom: 40px;
  } 

  h3.title, p.description { 
    width: 300px;
    margin-top: 10px; 
    text-align: center;
  }

  h3.title { 
    font-size: 2.5em;
  }

  p.description { 
    margin-top: 15px;
    margin-bottom: 20px;
  } 

  .row > div.stars {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: baseline;
  }
  
  .stars__container  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
