.start__1,
.start__2,
.start__3,
.start__4,
.start__5 {
  content: url('./assets/svgs/icon-star.svg');
}

.start__-1,
.start__-2,
.start__-3,
.start__-4,
.start__-5 {
  content: url('./assets/svgs/icon-star.svg');
  opacity: 0.5;
}